/* Your styles here */
/* Impostazioni Base */
html {
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  color: #25a2c3;
  font-weight: bold;
}
h1 {
  font-size: 35px;
}
p,
h2 {
  font-size: 1.2rem;
  line-height: 1.65rem;
  font-weight: 40px;
}

/* Header */
header {
  background-color: black;
  align-items: first baseline;
}
img {
  width: 15%;
  padding: 2%;
}
/* Main */
.web {
  align-items: center;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding: 10%;
  text-align: center;
}

.web p {
  padding: 4%;
}
.button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 20px;
  border-width: 1px;
  color: #ffffff;
  border-color: #f04c2f;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  background: #f04c2f;
  text-decoration: none;
}
/* Div part1 */
.part1 {
  padding: 10%;
}
.part1 h2 {
  margin-bottom: 2%;
}
.part1 .text1 {
  padding: 4%;
  line-height: 1.65rem;
}
.textconteiner {
  float: right;
}

.img1 {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding: 50px;
}
.img1 img {
  width: 100%;
  height: 100%;
}
/* part2 */
.part2 {
  background-color: #f04c2f;
  color: white;
  padding: 10%;
  text-align: center;
}
.hpart2 {
  color: white;
  font-size: 35px;
}
.centerpart2 {
  padding: 5%;
  font-style: italic;
  font-size: 16px;
}
.ceo {
  font-size: 13px;
}

/* part3 */
.part3 {
  padding: 20px;
  display: block;
}
.part3 > div {
  border: 1px solid #dee1e3;
  border-radius: 5px;
  margin: 50px;
  line-height: 1.65rem;
}

.bord {
  float: left;
  width: 25%;
}
.text3 {
  margin: 5%;
  text-align: center;
}
.foto {
  height: 80%;
  width: 100%;
  padding: 0;
}
/* Footer */
.footer {
  padding: 10%;
  padding-left: 30%;
  padding-right: 30%;
}
footer {
  background-color: #25a2c3;
  color: white;
  padding: 10px;
}
footer h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}

footer div hr {
  width: 50%;
}
.cont {
  padding: 20px;
}
footer a {
  color: white;
}
footer .bottom {
  text-align: center;
}
